.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #0f0f0f 5px solid;
    border-radius: 50%;
}
.clock-face {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FAF6E3;
}
.clock-hour,
.clock-minute,
.clock-second {
    position: absolute;
    transform-origin: 50% 100%; 
    transform: rotate(90deg);  
}
.clock-hour {
    width: 5px;
    height: 57px; 
    top: 31.7%;
    left: 49%;
    background: #867070;
}
.clock-minute {
    width: 3px;
    height: 72px;
    left: 49.5%;
    top: 24%;
    background: #B17457;
}
.clock-second {
    width: 2px;
    height: 80px;
    left: 50.3%;
    top: 19.9%;
    background: #4A4947;
}
